body {
  background-color: #eeecec;
}

button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

select {
  width: 220px;
  height: 22px;
  margin-right: 20px;
}

label {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -12px;
  color: white;
  border: solid 1px white;
}

#operator {
  margin-top: 20px;
  align-content: center;
}

.array-container {
  position: relative;
  margin-top: 18%;
  margin-bottom: 17%;
  margin-left: auto;
  margin-right: auto;
}

.array {
  background-color: #ffbf00;
  color: transparent;
  margin: 0 0px;
  position: relative;
  max-height: 660px;
  color: #000000;
  font-size: 1em;
  height: 80px;
  width: 80px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(12, 53, 71);
  margin-right: 50px;
  border-radius: 0%;
}

.array-bar {
  background-color: #ffbf00;
  color: transparent;
  margin: 0 0px;
  position: relative;
  max-height: 660px;
  color: #000000;
  font-size: 1em;
  height: 80px;
  width: 80px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(12, 53, 71);
  margin-right: 50px;
  border-radius: 100%;
}

#x {
  border: 10px solid #ffbf00;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#arrow {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.linked-list {
  width: 20px;
  border: 0;
  border-radius: 0;
  background-color: #ffbf00;
  color: transparent;
  margin: 0 0px;
  position: relative;
  max-height: 660px;
  color: #000000;
  font-size: 1em;
  height: 68px;
  width: 82px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-right: 16px solid rgb(12, 53, 71);
  margin-right: 50px;
  border-radius: 10%;
}

.doubly-linked-list {
  width: 20px;
  border: 0;
  border-radius: 0;
  background-color: #ffbf00;
  color: transparent;
  margin: 0 0px;
  position: relative;
  max-height: 660px;
  color: #000000;
  font-size: 1em;
  height: 68px;
  width: 82px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-right: 16px solid rgb(12, 53, 71);
  border-left: 16px solid rgb(12, 53, 71);
  margin-right: 50px;
  z-index: 1;
  transform-style: preserve-3d;
  border-radius: 10%;
}

a {
  color: black;
  margin-left: 2px;
}

p {
  font-size: 20px;
}

.array:not(:last-child):after {
  content: "";
  height: 2px;
  background: black;
  width: 55px;
  position: absolute;
  right: -55px;
  top: 50%;
  animation-name: visitedAnimationln;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.array:not(:last-child):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 51.2%;
  border-style: solid;
  border-width: 7px 0 7px 15px;
  border-color: transparent transparent transparent black;
  right: -57px;
  transform: translateY(-50%);
  animation-name: visitedAnimationtri;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.linked-list:not(:last-child):after {
  content: "";
  height: 2px;
  background: black;
  width: 65px;
  position: absolute;
  right: -65px;
  top: 50%;
  animation-name: visitedAnimationlnx;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.linked-list:not(:last-child):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50.6%;
  border-style: solid;
  border-width: 7px 0 7px 15px;
  border-color: transparent transparent transparent black;
  right: -67px;
  transform: translateY(-50%);
  animation-name: visitedAnimationtrix;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.doubly-linked-list:not(:first-child):after {
  content: "";
  height: 2px;
  background: black;
  width: 54px;
  position: absolute;
  right: 82px;
  top: 38%;
  animation-name: visitedAnimationlnr;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.doubly-linked-list:not(:last-child):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 38.6%;
  border-style: solid;
  border-width: 7px 15px 7px 0px;
  border-color: transparent black transparent transparent;
  right: -30px;
  transform: translateY(-50%);
  animation-name: visitedAnimationtrir;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.doubly-linked-list:not(:last-child) p:after {
  content: "";
  height: 2px;
  background: black;
  width: 59px;
  position: absolute;
  right: -59px;
  top: 64%;
  animation-name: visitedAnimationlnx;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.doubly-linked-list:not(:last-child) p:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 64.6%;
  border-style: solid;
  border-width: 7px 0 7px 15px;
  border-color: transparent transparent transparent black;
  right: -67px;
  transform: translateY(-50%);
  animation-name: visitedAnimationtrix;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes visitedAnimationln {
  0% {
    width: 10px;
    right: -14px;
  }

  100% {
    width: 55px;
    right: -56px;
  }
}

@keyframes visitedAnimationtri {
  0% {
    right: -30px;
  }

  100% {
    right: -56px;
  }
}

@keyframes visitedAnimationlnx {
  0% {
    width: 10px;
    right: -10px;
  }

  100% {
    width: 64px;
    right: -64px;
  }
}

@keyframes visitedAnimationtrix {
  0% {
    right: -20px;
  }

  100% {
    right: -68px;
  }
}

@keyframes visitedAnimationlnr {
  0% {
    width: 10px;
    right: 82px;
  }

  100% {
    width: 59px;
    right: 82px;
  }
}

@keyframes visitedAnimationtrir {
  0% {
    right: -79px;
  }

  100% {
    right: -30px;
  }
}
